.slider {
  overflow: hidden;
  display: flex;
  width: 100%;
}

.slider-group {
  display: flex;
  align-items: center;
  gap: 2rem;
  animation: slide 10s linear infinite;
}

.slider-group img {
  height: 14rem; /* same as h-56 in Tailwind */
  object-fit: contain;
  pointer-events: none; /* avoid drag while sliding */
}

@media (min-width: 768px) {
  .slider-group img {
    height: 20rem; /* same as md:h-80 */
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
